doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        div.menubar
            li
                a(href="./")
                    |Search Tweets
            li
                a(href="./user")
                    |Search Twitter User
            li
                a(href="./foursquare")
                    |Search Foursquare Venue
            li
                a(href="./visitor")
                    |Search Venue Visitor
        block content