extends layout
block content
   h1= title
   p Welcome to  #{title}
   form(name="search", action="/queryInterface",method="GET")
      p
         | Screen names :
         = " "
         input(type="text",name="screen_names")
      p
         | How many keywords?
         = " "
         input(type="text",name="num_of_keywords")
      p
         | How many days?
         = " "
         input(type="text",name="num_of_days")
         p (5 days default)
      input(type="submit",value="submit")
      br